<section class="hero">
    <div class="hero-inner">
        <div class="hero-text">
            <h1 [style.viewTransitionName]="'title'">
                Voices of hope for life's hardest journeys
            </h1>
            <p>
                Sometimes the bravest thing we can do is let others show up for us. By sharing your story, you give the world a chance to wrap its arms around you, and remind you that even in the hardest moments, you're not alone.
            </p>
            <div class="actions">
                <button class="button primary" [routerLink]="'/browse-requests'">Send Support</button>
                <button class="button secondary" [routerLink]="'/request-support'">Share Journey</button>
            </div>
        </div>

        <div class="hero-images">
            <div
                class="hero-images-block"
                (mouseenter)="mouseEnterBlock1=true"
                (mouseleave)="mouseEnterBlock1=false"
                #heroImages1>
                @for (img of images1; track $index; let i = $index) {
                    <img [src]="img" [alt]="'test' + i" fetchpriority=high>
                }
            </div>
            <div
                class="hero-images-block"
                (mouseenter)="mouseEnterBlock2=true"
                (mouseleave)="mouseEnterBlock2=false"
                #heroImages2>
                @for (img of images2; track $index; let i = $index) {
                    <img [src]="img" [alt]="'test2' + i" fetchpriority=high>
                }
            </div>
        </div>
    </div>
</section>

<section class="why-we-started uplifting">
    <img src="assets/img/uplifting.webp" alt="">
    <div class="content">
        <h2>Uplifting Hardest Journeys, One Voice at a Time</h2>
        <p>
            WondrVoices delivers handwritten cards, drawings, and words of encouragement to people facing cancer. <br /> <br />
            Each message is a small act of kindness, a reminder that someone took time out of their day to create something for a
            stranger. <br /> <br />
            Cards have long been a way to say, <i><strong>“I’m here. I see you.”</strong></i> <br /><br />
            But in the world of cancer, these gestures are often missing. No one expects to face cancer, and many don’t know what to
            say when someone does. <br /> <br />
            Because every journey is different, every voice makes a difference.
        </p>
    </div>
</section>

<section class="share-hope">
    <div class="section-title">
        <h2>Your Voice Can Make a Difference</h2>
        <p class="subtitle">
            Whether you're fighting a serious illness or want to share hope with someone who is,
            Wondrvoices connects hearts through meaningful moments.
        </p>
    </div>

    <div class="cards">
        <div class="card">
            <div class="icon-circle pink">
                <span class="material-symbols-outlined">favorite</span>
            </div>
            <h3>Share Card</h3>
            <p>
                Your message could be the one that makes them feel seen.
            </p>
            <button class="card-btn pink" [routerLink]="'/browse-requests'">Send Support</button>
        </div>

        <div class="card">
            <div class="icon-circle teal">
                <span class="material-symbols-outlined">chat_bubble_outline</span>
            </div>
            <h3>Share Journey</h3>
            <p>
                Make your space a place where voices gather.
            </p>
            <button class="card-btn teal" [routerLink]="'/request-support'">Share Now</button>
        </div>

        <div class="card">
            <div class="icon-circle blue">
                <span class="material-symbols-outlined">article</span>
            </div>
            <h3>Help Us Grow</h3>
            <p>
                Spark connection in your community and beyond.
            </p>
            <button class="card-btn blue" [routerLink]="'/spots'">Learn More</button>
        </div>
    </div>
</section>

<section class="why-we-started">
    <img src="assets/img/why-we.webp" alt="">
    <div class="content">
        <h2>Why We Started WondrVoices</h2>
        <p>
            What began as a simple way to comfort patients with handmade cards has grown into a small but meaningful
            movement. WondrVoices helps foster connection and kindness through messages that remind patients they are
            not alone.
        </p>
        <a routerLink="/about-us" class="read-link">About us <span>&rarr;</span></a>
    </div>
</section>

<section class="impact">
    <h2>What a Message Can Do</h2>
    <div class="impact-counters">
        <div class="counter">
            <span>200+</span>
            <p>Cards Delivered</p>
        </div>
        <div class="counter">
            <span>5+</span>
            <p>WondrSpots Created</p>
        </div>
        <div class="counter">
            <span>3 States</span>
            <p>Contributions From</p>
        </div>
    </div>

    <section class="sponsors">
        <p class="subtitle">
            <img src="assets/svg/thanks.svg" alt="Thanks">
            Thanks to Submissions From
        </p>
        <div class="logos-row-wrapper">
            <div class="logos-row scroll-left">
                <div class="logos-track">
                    @for (i of [1, 2, 3, 4]; track $index) {
                        <img src="assets/img/BrooksvilleFarmersMarket.jpg" alt="Woof gang">
                        <img src="assets/img/CoHatch.jpg" alt="Brook">
                        <img src="assets/img/d09913c644564c0f8eb43b4738c9689b.png" alt="Foulkeways" />
                        <img src="assets/img/HillCityTapHouse.png" alt="Farm">
                        <img src="assets/img/PK-logo2.png" alt="artv">
                        <img src="assets/img/SarasotaArtMuseum.jpg" alt="Logo pink" />
                        <img src="assets/img/WonderWorksGulfport.png" alt="aegis">
                        <img src="assets/img/PinellasTechnicalCollege.jpg" alt="hill">
                    }
                </div>
            </div>

            <!-- <div class="logos-row scroll-right">
                <div class="logos-track">
                    @for (i of [1, 2, 3, 4]; track $index) {
                        <img src="assets/img/PK-logo2.png" alt="artv">
                        <img src="assets/img/SarasotaArtMuseum.jpg" alt="Logo pink" />
                        <img src="assets/img/WonderWorksGulfport.png" alt="aegis">
                        <img src="assets/img/PinellasTechnicalCollege.jpg" alt="hill">
                    }
                </div>
            </div> -->

        </div>
    </section>
</section>

<section class="latest-blogs">
    <h2>Latest Blogs</h2>
    <div class="blog-cards">
        @for (blog of latestBlogs(); track blog.id) {
            <div class="blog-card">
                <h3>{{ blog.header }}</h3>
                <p>
                    {{ blog.subHeader }}
                </p>
                <a [routerLink]="'blogs/' + blog.id">View All →</a>
            </div>
        }
    </div>
    <button class="button primary" routerLink="/blog">View All</button>
</section>

<section class="donate">
    <h2>Donate</h2>
    <div class="donate-wrapper">
        <div class="donate-image">
            <h3>Help Us Print & Deliver More Cards</h3>
            <img src="assets/img/help-more.webp" alt="Handmade cards" />
        </div>
        <a href="#XKRVWWFK"></a>

        <!-- <div class="donate-box">
            <h3>Donate now</h3>
            <p>Your donation helps us print and deliver cards to hospitals across the country.</p>

            <form class="donate-form">
                <label>Suggested donation*</label>
                <div class="amounts">
                    <button type="button">$5</button>
                    <button type="button">$10</button>
                    <button type="button">$50</button>
                    <button type="button">$100</button>
                </div>
                <p class="note">Every $10 = 50 cards delivered</p>

                <button type="submit" class="pay-btn">Pay with <strong>link</strong></button>
                <button type="button" class="alt-pay">G Pay | Visa
                </button>
            </form>
        </div> -->
    </div>
</section>

<!-- <section class="hero-image">
    <app-swiper [slides]="slides" />
</section> -->