@if (card()) {
    <div class="card-details">
        <button class="back-btn" (click)="history.back()">← Back</button>
    
        <div class="image">
            <img [src]="card().img" alt="Card image">
        </div>
        <div class="content">
            <div class="wrap-category">
                @if (card().category) {
                    <span class="category">{{ card().category }}</span>
                }
                @for (tag of card().what; track tag) {
                    <span class="category">{{ tag }}</span>
                }
                @for (tag of card().express; track tag) {
                    <span class="category">{{ tag }}</span>
                }
            </div>
            <h1 class="title">{{ card().location }}</h1>
            <p class="description">{{ card().description }}</p>
            <p class="description">{{ card().note }}</p>
            @if (card().creditTo) {
                <p class="description">
                    <span>Credit To:</span> 
                    <strong>{{ card().creditTo }}</strong>
                </p>
            }
    
            <!-- <div class="author">
                <img class="avatar" [src]="card.avatar" alt="avatar">
                <div>
                    <span class="name">{{ card.author }}</span>
                    <span class="date">{{ card.createdAt }}</span>
                </div>
            </div> -->
        </div>
    </div>
}