@if (card()) {
    <div class="card-details">
        <button class="back-btn" (click)="history.back()">← Back</button>
    
        <div class="image">
            <img [src]="card().img" alt="Card image">
        </div>
    
        <div class="content">
            @if (card().category) {
                <span class="category">{{ card().category }}</span>
            }
            <h1 class="title">{{ card().location }}</h1>
            <p class="description">{{ card().description }}</p>
    
            <!-- <div class="author">
                <img class="avatar" [src]="card.avatar" alt="avatar">
                <div>
                    <span class="name">{{ card.author }}</span>
                    <span class="date">{{ card.createdAt }}</span>
                </div>
            </div> -->
        </div>
    </div>
}