:host {
    display: block;
    padding: 0 20px;
    padding-bottom: 100px;

    @media screen and (max-width: 500px) {
        padding: 0 10px;
    }
}

.card-details {
    max-width: 800px;
    margin: 4rem auto;
    padding: 2rem;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    font-family: 'Inter', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media screen and (max-width: 768px) {
        padding: 25px 15px;
    }

    .back-btn {
        align-self: flex-start;
        background: none;
        border: none;
        color: #333;
        font-weight: 600;
        cursor: pointer;
        margin-bottom: 1rem;
        font-size: 14px;

        &:hover {
            text-decoration: underline;
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 0px;
        }
    }

    .image img {
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
        // max-height: 400px;
    }

    .category {
        display: inline-block;
        margin-bottom: 0.3rem;

        color: #183f4d;
        background: #eee;
        padding: 4px 7px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 600;
    }

    .wrap-category {
        display: flex;
        gap: 5px;
    }

    .title {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 0.5rem;

        @media screen and (max-width: 768px) {
            font-size: 1.7rem;
            margin-top: 5px;
        }

        @media screen and (max-width: 500px) {
            font-size: 1.5rem;
        }
    }

    .description {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-top: 1rem;

        span {
            font-size: 1rem;
            margin-right: 10px;
        }

        @media screen and (max-width: 768px) {
            font-size: 0.8rem;
            margin-top: 5px;
        }

        @media screen and (max-width: 500px) {
            line-height: 1;
        }
    }

    .author {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;

        @media screen and (max-width: 768px) {
            margin-top: 14px;
        }

        @media screen and (max-width: 500px) {
            gap: 10px;
        }

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .name {
            font-weight: 600;
        }

        .date {
            display: block;
            font-size: 0.85rem;
            color: #999;
        }
    }
}

.image {
    overflow: hidden;
    border-radius: 12px;

    img {
        width: 100%;
        height: auto;
        border-radius: 12px;
        object-fit: cover;
        transition: transform 0.4s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}

@media (max-width: 768px) {
    .card-details {
        margin-top: 0px;
    }
}