swiper-container {
    width: 500px;
    height: 600px;
}

swiper-slide {
    height: 280px !important;
    // margin-right: 10px;
    // width: auto;
    // width: 200px !important;

    ::ng-deep {
        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
}

::ng-deep swiper-container {
    transition-timing-function: linear !important;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    swiper-slide {
        // width: 280px !important;
        width: 100% !important;
    }
}