.about-v2 {
    // background: #fffcf6;
    // padding: 3rem 1rem;

    .container {
        // max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .block {
        display: flex;
        align-items: center;
        gap: 117px;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 50vh;
        padding: 80px 20px;
        

        &.reverse {
            flex-direction: row;
            background-color: #f0ebe6;
        }

        .text {
            max-width: 620px;

            h2, h1 {
                font-size: 48px;
                // color: #5c4033;
                margin-bottom: 20px;

                @media screen and (max-width: 768px) {
                    font-size: 30px;
                    text-align: left;
                }
            }

            h1 {
                font-size: 56px;

                @media screen and (max-width: 768px) {
                    font-size: 30px;
                    text-align: left;
                    font-weight: 500;
                }
            }

            p {
                font-size: 16px;
                line-height: 1.3;
                color: #472B2F;

                @media screen and (max-width: 768px) {
                    text-align: left;
                }
            }

            ul {
                margin-top: 0.5rem;
                padding-left: 1.2rem;

                li {
                    margin-bottom: 0.5rem;
                    position: relative;
                    padding-left: 1.2rem;

                    &::before {
                        content: '✔';
                        position: absolute;
                        left: 0;
                        color: #ff9900;
                    }
                }
            }
        }

        .image-wrap {
            position: relative;
            width: 100%;
            max-width: 485px;


            img {
                width: 100%;
                border-radius: 10px;
                // box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
            }

            // .decor {
            //     position: absolute;
            //     width: 40px;
            //     height: 40px;
            //     border-radius: 50%;
            //     opacity: 0.5;

            //     &.decor-purple {
            //         background: #b39ddb;
            //         top: -10px;
            //         right: -10px;
            //     }

            //     &.decor-orange {
            //         background: #ffcc80;
            //         bottom: -10px;
            //         left: -10px;
            //     }

            //     &.decor-yellow {
            //         background: #fff59d;
            //         top: -10px;
            //         left: -10px;
            //     }

            //     &.decor-green {
            //         background: #aed581;
            //         bottom: -10px;
            //         right: -10px;
            //     }
            // }
        }

        &:first-child .image-wrap img {
            box-shadow: none;
        }
    }

    @media (max-width: 768px) {
        .block {
            flex-direction: column !important;
            text-align: center;
            align-items: flex-start;

            height: 100%;
            padding: 40px 10px;
            gap: 30px;

            &:first-child {
                padding-top: 0px;
                padding-bottom: 20px;
            }

            &.reverse {
                flex-direction: column-reverse !important;
            }

            .text,
            .image-wrap {
                flex: 1 1 100%;
                max-width: 100%;
            }

            .text ul {
                display: inline-block;
                text-align: left;
            }
        }
    }
}