.message-board {
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 2rem;
    padding-top: 50px;
    background: #f8f5f2;
    min-height: 100vh;

    .subheading {
        text-transform: uppercase;
        font-size: 0.8rem;
        color: #aaa;
        margin-bottom: 0.5rem;
    }

    .title {
        font-size: 2rem;
        color: #1d3b42;
        margin-bottom: 0.5rem;
    }

    .subtitle {
        font-size: 1rem;
        color: #555;
        margin-bottom: 2rem;
    }

    .tabs {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;

        button {
            background: #ffe9dd;
            border: none;
            padding: 0.5rem 1.2rem;
            border-radius: 1.5rem;
            cursor: pointer;
            font-weight: 500;
            transition: all 0.2s ease;
            font-family: inherit;

            &.active {
                background: #ffba91;
                color: white;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            }

            &:hover {
                background: #ffd5b8;
            }
        }
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 2rem;

        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }

    .card {
        background: white;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
        transition: all 0.4s ease;
        cursor: pointer;

        opacity: 0.5;
        transform: translateY(15px);

        animation: card-show-anim .6s forwards;
        animation-delay: var(--i);

        &:hover {
            .card-image {
                scale: 1.05;
            }
        }

        .card-image {
            height: 300px;
            width: 100%;
            object-fit: cover;
            transition: all .4s;
        }

        .card-content {
            position: relative;
            padding: 1rem;
            text-align: left;
            background: white;
            z-index: 2;

            .category {
                display: inline-block;
                margin-bottom: 0.3rem;

                color: #183f4d;
                background: #eee;
                padding: 4px 7px;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 600;
            }

            .card-title {
                font-size: 1.2rem;
                color: #183f4d;
                margin-bottom: 0.5rem;
            }

            .card-description {
                font-size: 0.95rem;
                color: #666;
                margin-bottom: 1rem;
            }

            .card-author {
                display: flex;
                align-items: center;
                gap: 0.75rem;

                .avatar {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .name {
                    font-weight: 500;
                    color: #222;
                }

                .date {
                    font-size: 0.8rem;
                    color: #888;
                }
            }
        }
    }
}

@keyframes card-show-anim {
    from {
        opacity: 0.5;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

::ng-deep app-landing-page:has(app-gallery) {
    background: #fffcf6 !important;

    .top-bar {
        margin-bottom: 15px !important;
    }
}

@media (max-width: 768px) {
    .message-board {
        padding: 20px;
        padding-top: 0px;

        .title {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 500px) {
    .message-board {
        padding: 10px;
        padding-top: 0px;

        .card-grid {
            grid-template-columns: auto;
            padding: 10px;
        }

        .card-title {
            font-size: 1rem !important;
        }

        .card-description {
            font-size: 0.75rem !important;
        }

        .category {
            font-size: 10px !important;
        }

        .name {
            font-size: 14px !important;
        }

        .tabs {
            gap: 10px;
        }
    }
}