<div class="message-board">
    <div class="subheading">FROM OUR HEARTS TO YOURS</div>
    <h1 class="title">Messages and moments that lift us up</h1>
    <p class="subtitle">
        Explore heartfelt cards, creative art, and inspiring words from people who care. <br />
        Every message is a reminder that you’re never alone on your journey.
    </p>

    <div class="tabs">
        @for (tab of tabs; track tab) {
            <button
                [class.active]="tab === activeTab()"
                (click)="selectTab(tab)">
                {{ tab }}
            </button>
        }
    </div>

    <div class="card-grid">
        @for (card of filteredCards(); track card; let i = $index) {
            <div
                class="card"
                [style]="'--i: ' + i*0.10 + 's'"
                (click)="openVoicePage(card.id)">
                <img class="card-image" [src]="card.image" alt="card image" />
                <div class="card-content">
                    <span class="category">{{ card.category }}</span>
                    <h2 class="card-title">{{ card.title }}</h2>
                    <p class="card-description">{{ card.description }}</p>
                    <div class="card-author">
                        <img class="avatar" [src]="card.avatar" alt="avatar" />
                        <div>
                            <div class="name">{{ card.author }}</div>
                            <div class="date">{{ card.date }}</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>