<div class="custom-scrollbar-track">
    <div class="custom-scrollbar-thumb"></div>
</div>

<section class="hero">
    <header class="top-bar">
        <div class="logo" [routerLink]="''">
            <img src="assets/svg/full-logo.svg" alt="Logo" />
        </div>

        <button
            class="burger"
            [class.active]="menuOpened()"
            (click)="toggleMenu()"
            aria-label="Toggle Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav [class.open]="menuOpened()" (click)="toggleMenu()">
            <a [routerLink]="['/gallery']" routerLinkActive="link-active">Gallery</a>
            <a [routerLink]="['/about-us']" routerLinkActive="link-active">About</a>
            <a [routerLink]="['/blog']" routerLinkActive="link-active">Blog</a>
            <a [routerLink]="['/support']" routerLinkActive="link-active">Support</a>
            <button class="button submit primary" [routerLink]="'/form'">Submit</button>
        </nav>
    </header>
</section>

<router-outlet></router-outlet>
