:host {
    display: block;
    font-family: 'Inter', sans-serif;
    background-color: #f8f5f2;
    color: #472B2F;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    margin-bottom: 60px;

    button {
        height: 35px;
        // font-size: 15px;
    }

    .logo {
        width: 250px;
        font-weight: 600;
        font-size: 1.1rem;
        cursor: pointer;

        img {
            width: 100%;
        }
    }

    nav {
        display: flex;
        gap: 1.25rem;
        align-items: center;

        a {
            text-decoration: none;
            color: #472B2F;
            font-weight: 500;

            position: relative;
            display: block;
            padding-bottom: 5px;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                border-radius: 4px;
                background-color: #472B2F;
                bottom: 0;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
            }

            &:hover::before {
                transform-origin: left;
                transform: scaleX(1);
            }

            &.link-active::before {
                transform-origin: left;
                transform: scaleX(1);
            }
        }

        .link-active {
            font-weight: 600;
        }
    }
}

.hero {
    position: relative;
    text-align: center;
    padding: 1rem 2rem 2rem;
    padding-bottom: 0;
    box-shadow: -16px 15px 20px 3px rgb(248 245 242 / 91%), -20px 13px 20px 60px rgb(248 245 242 / 66%);
    z-index: 1;

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    p {
        max-width: 700px;
        margin: 0 auto 2rem;
        line-height: 1.6;
        color: #3b3b3b;
    }

    .actions {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .view {
            background: transparent;
            border: 1px solid #472B2F;
            border-radius: 6px;
            padding: 0.5rem 1.25rem;
            font-weight: 600;
        }
    }

    @media screen and (max-width: 900px) {
        // box-shadow: none;
        z-index: 3;
    }

    @media screen and (max-width: 900px) {
        box-shadow: none;
    }
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px !important;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;

    span {
        display: block;
        height: 3px;
        width: 100%;
        background: #472B2F;
        border-radius: 3px;
        transition: all 0.4s ease;
        transform-origin: center;
    }

    &.active {
        display: none;

        align-items: center;
        justify-content: center;

        span:nth-child(1) {
            transform: rotate(45deg) translateY(4px);
        }

        span:nth-child(2) {
            opacity: 0;
            transform: scaleX(0);
        }

        span:nth-child(3) {
            transform: rotate(-45deg) translateY(-4px);
        }
    }

    &:focus {
        outline: none;
    }
}

@media (max-width: 900px) {
    .active {
        display: flex !important;
    }

    .burger {
        display: flex;
    }

    .top-bar {
        position: relative;

        .logo {
            width: 210px;
        }
    }

    nav {
        position: absolute;
        top: 100%;
        right: 38px;
        background: #fff7ef;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 2rem;
        gap: 1rem;
        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        border-radius: 0 0 12px 12px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        z-index: 100;

        &.open {
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;
        }

        a,
        button {
            width: 100%;
            text-align: left;
        }
    }

    .hero {
        padding: 1rem 0rem 2rem;
    }
}

@media (max-width: 700px) {
    .top-bar {
        margin-bottom: 10px;
    }

    .hero-content {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .top-bar {
        padding: 10px 20px;
    }

    .hero-content {
        margin-bottom: 20px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0ebe6;
    // padding: 2rem 1rem;
    text-align: center;
    color: #432a2a;
    padding: 0 20px;
    padding-top: 140px;

    

    .contact {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1280px;
        // padding: 0 20px;

        h2 {
            font-size: 42px;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        .decor {
            width: 60px;
            height: 4px;
            background: #b6e665;
            margin: 0 auto 1rem auto;
            border-radius: 2px;
        }

        .contact-details {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            flex-wrap: wrap;

            .email {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                text-decoration: none;
                color: inherit;

                span {
                    height: 18px;
                }
            }

            .social {
                display: flex;
                align-items: center;
                gap: 40px;
                
                .icon {
                    transition: all .3s;
                    display: flex;
                    font-size: 1.5rem;
                    cursor: pointer;

                    &:hover {
                            transform: translateY(-3px);   
                    }
                }

                
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: center;
        margin-top: 140px;
        // border-top: 1px solid #e0dbd6;
        padding: 30px 20px;
        background-color: #f8f5f2;
        width: 100vw;

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1280px;
            width: 100%;
        }

        .logo {
            max-width: 262px;
            height: 40px;
            margin-bottom: 0.5rem;

            img {
                width: 100%;
            }

            .logo-text {
                font-size: 1.8rem;
                font-weight: 600;
                color: #4b3d8a;

                .accent {
                    color: #f26522;
                }
            }
        }

        .links {
            display: flex;
            justify-content: center;
            gap: 1rem;
            flex-wrap: wrap;

            a {
                text-decoration: none;
                color: #432a2a;
                font-weight: 500;
            }

            span {
                color: #432a2a;
            }
        }
    }

    @media (max-width: 768px) {
        padding-top: 80px;

        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 50px;
        }
        
        .contact-details {
            justify-content: space-between;
            max-width: 600px;
            // margin: 0 auto;
        }

        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
            // max-width: 1000px;
            // margin: 0 auto;

            &__inner {
                flex-direction: column;
                gap: 40px;
            }
        }
    }
}

::ng-deep body :has(app-gallery) .footer {
    background-color: #f8f5f2 !important;
}