<div class="custom-scrollbar-track">
    <div class="custom-scrollbar-thumb"></div>
</div>

<section class="hero">
    <header class="top-bar">
        <div class="logo" [routerLink]="''">
            <img src="assets/svg/full-logo.svg" alt="Logo" />
        </div>

        <button
            class="burger"
            [class.active]="menuOpened()"
            (click)="toggleMenu()"
            aria-label="Toggle Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav [class.open]="menuOpened()" (click)="toggleMenu()">
            <a [routerLink]="['/gallery']" routerLinkActive="link-active">Gallery</a>
            <a [routerLink]="['/spots']" routerLinkActive="link-active">Spots</a>
            <a [routerLink]="['/get-involved']" routerLinkActive="link-active">Get Involved</a>
            <a [routerLink]="['/about-us']" routerLinkActive="link-active">About</a>
            <a [routerLink]="['/blog']" routerLinkActive="link-active">Blog</a>
            <button class="button submit primary" [routerLink]="'/form'">Submit</button>
        </nav>
    </header>
</section>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="footer__content content">
        <div class="content__left">
            <h2>Contact Us</h2>
            <span class="content__underline"></span>
        </div>
        <div class="content__right">
            <a href="mailto:hello@wondrvoices.com" class="content__email">
                <img src="assets/svg/email.svg" alt="Email"> hello&#64;wondrvoices.com
            </a>
            <div class="content__socials">
                <a href="#" aria-label="Instagram"><img src="assets/svg/inst.svg" alt="Instagram" /></a>
                <a href="#" aria-label="X"><img src="assets/svg/x.svg" alt="X" /></a>
                <a href="#" aria-label="Facebook"><img src="assets/svg/fb.svg" alt="Fb" /></a>
            </div>
        </div>
    </div>
</footer>
<footer class="sub-footer">
    <div class="sub-footer__content">
        <img src="assets/svg/full-logo.svg" alt="Logo">
        <div class="terms">
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
            <span>&#64;2025 WondrVoices</span>
        </div>
    </div>
</footer>

