<div class="custom-scrollbar-track">
    <div class="custom-scrollbar-thumb"></div>
</div>

<section class="hero">
    <header class="top-bar">
        <div class="logo" [routerLink]="''">
            <img src="assets/svg/full-logo.svg" alt="Logo" />
        </div>

        <button
            class="burger"
            [class.active]="menuOpened()"
            (click)="toggleMenu()"
            aria-label="Toggle Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav [class.open]="menuOpened()" (click)="toggleMenu()">
            <a [routerLink]="['/gallery']" routerLinkActive="link-active">Gallery</a>
            <a [routerLink]="['/spots']" routerLinkActive="link-active">Spots</a>
            <a [routerLink]="['/get-involved']" routerLinkActive="link-active">Get Involved</a>
            <a [routerLink]="['/about-us']" routerLinkActive="link-active">About</a>
            <a [routerLink]="['/blog']" routerLinkActive="link-active">Blog</a>
            <button class="button submit primary" [routerLink]="'/form'">Submit</button>
        </nav>
    </header>
</section>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="contact">
        <h2>Contact Us</h2>
        <!-- <div class="decor"></div> -->

        <div class="contact-details">
            <a class="email" href="mailto:hello@wondrvoices.com">
                <span class="icon">
                    <img src="assets/img/about/email.svg" alt="Email">
                </span>
                <span>hello&#64;wondrvoices.com</span>
            </a>
            <div class="social">
                <span class="icon">
                    <img src="assets/img/about/inst.svg" alt="Inst">
                </span>
                <span class="icon">
                    <img src="assets/img/about/x.svg" alt="X">
                </span>
                <span class="icon"><img src="assets/img/about/fb.svg" alt="Fb"></span>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="bottom__inner">
            <div class="logo">
                <img src="assets/img/full-logo.png" alt="Logo">
            </div>
            <div class="links">
                <a href="#">Terms</a>
                <a href="#">Privacy</a>
                <span>©2025 WondrVoices</span>
            </div>
        </div>
    </div>
</footer>