@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./app/shared/styles/reset.scss');
@import url('./app/shared/styles/buttons.scss');

@font-face {
    font-family: 'Ariata';
    src: url('/assets/fonts/Ariata-Font-Family/Ariata\ Display\ Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ariata';
    src: url('/assets/fonts/Ariata-Font-Family/Ariata\ Display\ Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ariata';
    src: url('/assets/fonts/Ariata-Font-Family/Ariata\ Display\ Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ariata';
    src: url('/assets/fonts/Ariata-Font-Family/Ariata\ Display\ Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    // overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    color: #472B2F;
    scroll-behavior: smooth;


    &::-webkit-scrollbar {
        display: none;
    }

    * {
        font-family: "Inter", sans-serif;
    }
}

.custom-scrollbar-track {
    position: fixed;
    top: 0;
    left: 0;
    height: 6px;
    width: 100%;
    background: transparent;
    z-index: 9999;
    pointer-events: none;

    .custom-scrollbar-thumb {
        height: 100%;
        width: 0px;
        background: linear-gradient(90deg, #fcb69f, #ffecd2);
        border-radius: 4px;
        transition: transform 0.3s ease;
    }

}

*::selection {
    color: white;
    background-color: #fcb69f;
}

:root {
    --font-sans: 'Inter', sans-serif;
}

* {
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f8f5f2;
}


.material-symbols-outlined {
    font-family: 'Material Symbols Outlined' !important;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24
}

h1,
h2,
h3 {
    font-family: 'Ariata', serif;

    span {
        font-family: 'Ariata', serif;
    }
}

h2 {
    @media screen and (max-width: 1430px) {
        font-size: 38px !important;
    }
}

body:has(app-gallery) app-landing-page>.hero,
body:has(app-get-involved) app-landing-page>.hero,
body:has(app-spots) app-landing-page>.hero, 
body:has(app-about-us) app-landing-page>.hero,
body:has(app-blog) app-landing-page>.hero {
    box-shadow: none !important;
    background-color: #f8f5f2 !important;

    .top-bar {
        background-color: #f8f5f2 !important;
        margin-bottom: 0 !important;
    }
}